<a href="https://colab.research.google.com/github/kurianbenoy/ML-algorithms-from-scratch/blob/master/TF_linearregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from sklearn import model_selection

In [2]:
df = keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")

Downloading data from http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
32768/30286 [================================] - 0s 2us/step

In [5]:
column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight',
                'Acceleration', 'Model Year', 'Origin']
raw_dataset = pd.read_csv(df, names=column_names,
                      na_values = "?", comment='\t',
                      sep=" ", skipinitialspace=True)

dataset = raw_dataset.copy()
dataset.tail()

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
393  27.0          4         140.0  ...          15.6          82       1
394  44.0          4          97.0  ...          24.6          82       2
395  32.0          4         135.0  ...          11.6          82       1
396  28.0          4         120.0  ...          18.6          82       1
397  31.0          4         119.0  ...          19.4          82       1

[5 rows x 8 columns]

In [0]:
dataset = dataset.dropna()

In [0]:
train, test = model_selection.train_test_split(dataset, test_size=0.2, random_state=34)

In [9]:
train.head()

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
289  16.9          8         350.0  ...          14.9          79       1
343  39.1          4          79.0  ...          16.9          81       3
364  26.6          8         350.0  ...          19.0          81       1
169  20.0          6         232.0  ...          16.0          75       1
30   28.0          4         140.0  ...          15.5          71       1

[5 rows x 8 columns]

In [10]:
test.head()

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
239  30.0          4          97.0  ...          16.4          77       3
222  17.0          8         260.0  ...          19.0          77       1
57   24.0          4         113.0  ...          15.5          72       3
27   11.0          8         318.0  ...          13.5          70       1
51   30.0          4          79.0  ...          19.5          71       2

[5 rows x 8 columns]

In [0]:
train_y = train.pop("MPG")
test_y = test.pop("MPG")

## Model

In [0]:
def build_model():
  model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=[len(train.keys())]),
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
  ])

  optimizer = tf.keras.optimizers.RMSprop(0.001)

  model.compile(loss='mse',
                optimizer=optimizer,
                metrics=['mae', 'mse'])
  return model

model = build_model()

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                512
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 4,737
Trainable params: 4,737
Non-trainable params: 0
_________________________________________________________________

In [21]:
val_batch = test[:10]
model.predict(val_batch)

array([[-262.9667 ],
       [-532.2517 ],
       [-302.59808],
       [-567.0374 ],
       [-280.6954 ],
       [-380.05328],
       [-456.35632],
       [-284.29752],
       [-235.36084],
       [-598.0874 ]], dtype=float32)

In [0]:
EPOCHS = 1000

history = model.fit(
  train, train_y,
  epochs=EPOCHS, validation_split = 0.2, verbose=0,
)

In [25]:
hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch
hist.tail()

          loss       mae        mse   val_loss   val_mae    val_mse  epoch
995  12.806134  2.824351  12.806134   7.633276  2.183277   7.633276    995
996  10.237832  2.461812  10.237832   9.679606  2.583465   9.679606    996
997  12.138731  2.723029  12.138731  15.157024  3.325673  15.157024    997
998  10.208282  2.500304  10.208282   7.855469  2.174516   7.855469    998
999  10.832158  2.565149  10.832158   8.923073  2.289004   8.923073    999